h1{
  font-family: 'BioRhyme', serif;
  font-size: xxx-large;
  text-align: center
}

.description {
  max-width: 600px;
}
.left {
  max-width: 600px;
  float: left;
  margin-top: 25px;
}

.right {
  max-width: 600px;
  float: left;
  margin-left: 35px;
  margin-top: ;

}